@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body{
    display: flex;
    justify-content: center;
    font-family: Helvetica;
    margin-top: 150px;
    font-size: 20px;
}

#image{
    background-color: #edeaea;
    max-width: 500px;
    max-height: 500px;
    padding: 25px;
    align-self: center;
}

section{
    align-self: center;
    width: 500px;
    padding-left: 25px ;
}


#chemin{
    display: flex;
    height: 30px;
    background-color: #edeaea;
}

#chemin > p{
    margin-left: 10px;
    align-self: center;
}

#Nom{
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#Category{
    margin-top: 20px;
    margin-bottom: 10px;
}

#Brand{
    margin-top: 10px;
    margin-bottom: 20px;
}

fieldset, label { margin: 0; padding: 0; }

.rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label { color: #FFD700;  } /* show gold star when clicked */
  
#Prix{
    display: flex;
    height: 73px;
    width: 100%;
    align-items: center;
}

#Prix > h2 {
    height: 61px;
    font-size: 49px;
    margin: 0px;
}

#Prix > p {
    color: gray;
    font-size: 27px;
    align-self: center;
    margin: 0px;
    margin-left: 15px;
}

#titreDescription{
    margin: 0px;
    margin-top: 10px;
}

#description{
    margin-top: 10px;
    margin-bottom: 20px;
}

#cart {
    border-radius: 5px;
    height: 40px;
    width: 190px;
    border: 0px;
    font-size: 20px;
    color: white;
    background-color: #4747f3;
}